.bio{
    border-right-style: solid;
    border-right-color: #ddd;
    border-right-width: 1px;
     border-left-style: solid;
    border-left-color: #ddd;
    border-left-width: 1px;
	 border-bottom-style: solid;
    border-bottom-color: #ddd;
    border-bottom-width: 1px;

}

